@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background: url(oip.jpg);
    background-attachment: fixed; */
}
header
{
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: 20px auto;
    padding: 10px;
    background: url(oip.jpg);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header.black
{
    background: rgba(0, 0, 0);
    height: 80px;
    padding: 8px 50px;
}
header a.logo
{   
    color: rgb(255, 136, 0);
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
header a.logo .logopic
{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    transition: .5s;
}
header.black a.logo .logopic
{
    height: 65px;
}
nav
{
    float: right;
}
.clearfix
{
    clear: both;
}
nav ul
{
   margin: 0;
   padding: 0;
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
nav ul li a.active,
nav ul li a:hover
{
    background: rgb(255, 136, 0);
    border-radius: 4px;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}@media (max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(255, 136, 0);
    }
    .menu-toggle::before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before
    {
        content: '\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0;
    }
}
.h1
{
    margin-bottom: 20px;
    height: 80px;
    text-align: center;
    color: #000;
}
.origin
{
    padding: 20px;
    height: auto;
    align-items: center;
    /* width: 100%; */
    background: rgba(0, 0, 0, .1);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.origin h2
{
    text-align: center;
    font-weight: 900;
}
/* .origin h3
{
    font-size: 30px;
} */
.origin p
{
    font-size: 1.3em;
    font-weight: 700;
    line-height: 2em;
    text-align: center;
}
.leadership
{
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    width: 100%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: inherit; */
    font-size: 1.1em;
    background: rgba(0, 0, 0, .15);
}
.leaders
{
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 1.1em;
    /* display: flex; */

}
.leaders p
{
    font-size: 20px;
    text-align: center;
    font-size: 1.1em;
}
.leaders ul
{
    margin-left: 40px;
    text-align: left;
    /* list-style: none; */
}
.leaders img
{
    width: 230px;
    border-radius: 50%;
    /* margin-left: 40px; */
}
.pastors
{
    padding: 20px;
    color: #000;
    font-size: 1.1em;
    text-align: center;
}
.pastors p
{
    font-size: 20px;
    text-align: center;
    font-size: 1.1em;
}
.pastors ul
{
    margin-left: 40px;
    text-align: left;
}
.pastors img
{
    width: 230px;
    border-radius: 50%;
    padding-left: 40px;
}
.objectives
{
    margin-top: 0;
    height: auto;
    width: 100%;
    font-size: 20px;
    color: #000;
}
.membership
{
    text-align: center;
    font-size: 1.1em;
}
.membership ul
{
   list-style: none;
}
.circles
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 290px;
    /* background: #000; */
}
.circles .qmen
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(qmenbible.jpg);
    background-size: cover;
    border-radius: 50%;
}
.circles .usfw
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(usfwPraying.jpg);
    background-size: cover;
    border-radius: 50%;
}
.circles .yfp
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(youth.jpg);
    background-size: cover;
    border-radius: 50%;
}
.circles .children
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(circles/children.jpg);
    border-radius: 50%;
}
.cellgroups
{
    text-align: center;
    font-size: 1.1em;
    background: rgba(0, 0, 0, .1);
}
.cellgroups ul
{
    list-style: none;
    font-weight: 900;
}
/* .images
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 290px;
    margin: 20px;
    margin-top: 0;
}
.images .pc
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(pc/pcl.jpg);
    filter: grayscale(50%);
    transition: 1s;
}
.images .vpc
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(pc/Village\ meeting\ P.C);
    filter: grayscale(50%);
    transition: 1s;
}
.images .pst
{
    height: 260px;
    width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: url(pas.jpg);
    filter: grayscale(50%);
    transition: 1s;
}
.images .pc:hover
{
    transform: scale(1.1);
    filter: grayscale(0%);
}
.images .vpc:hover
{
    transform: scale(1.1);
    filter: grayscale(0%);
}
.images .pst:hover
{
    transform: scale(1.1);
    filter: grayscale(0%);
} */
.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img-area img
{
    width: 230px;
    padding: 5px;
    filter: grayscale(50%);
    transition: 1s;
}
.img-area img:hover
{
    filter: grayscale(0%);
    transform: scale(1.1)
}
.single-img
{
    padding: 0  20px 20px;
}
.footer
{
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, .15);
}
.footer .copyright
{
    /* width: 50%; */
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.footer .copyright .p1
{
    color: rgb(255, 136, 0);;
}
.footer .copyright .p2
{
    color: #000;
}
.footer .copyright .youtube
{
    margin-top: 10px;
}
.footer .copyright .facebook
{
    margin-top: 10px;
}