@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url(#fff);
    background-attachment: fixed;
    box-sizing: border-box;
}
header
{
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    /* margin: 20px auto; */
    padding: 10px;
    background: url(oip.jpg);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header.black
{
    background: rgba(0, 0, 0);
    height: 80px;
    z-index: 12;
    margin-top: 0;
    transition: .3s;
    position: fixed;
    padding: 8px 50px;
}
header a.logo
{   
    color: rgb(255, 136, 0);
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
header a.logo .logopic
{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    transition: .5s;
}
header.black a.logo .logopic
{
    height: 65px;
}
@media (max-width: 768px)
{
    header.black
    {
        background: rgba(0, 0, 0, .9);
    }
    header.black a.logo .logopic
    {
        height: 55px;
    }
}
nav
{
    float: right;
}
.clearfix
{
    clear: both;
}
nav ul
{
   margin: 0;
   padding: 0;
   background: rgba(0, 0, 0, 0.4);
    display: flex;
}
nav ul li
{
    list-style: none;
}
nav ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
nav ul li a.active,
nav ul li a:hover
{
    background: rgb(255, 136, 0);
    border-radius: 4px;
    color: #fff;
    transition: 0.5s;
}
@media (max-width: 1200px)
{
    header
    {
        margin: 20px;
    }
}
@media (max-width: 768px)
{
    .menu-toggle
    {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: rgb(255, 136, 0);
    }
    .menu-toggle::before
    {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active::before
    {
        content: '\f00d';
    }
    nav
    {
        display: none;
    }
    nav.active
    {
        display: block;
        width: 100%;
    }
    nav.active ul
    {
        display: block;
    }
    nav.active ul li a
    {
        margin: 0;
    }
}
.description p
{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.description
{
    margin-top: 0;
    width: 100%;
    height: 600px;
    background: url(homepage/dove.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textBox1
{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.textBox1 p
{
    font-size: 24px;
    font-weight: 800;
}
.textBox1 input
{
    margin: 20px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}
.image1
{
    width: 100%;
    height: 500px;
    background: url(Church/IMG_0242.JPG);
    background-size: cover;
    background-attachment: fixed;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.image1 input
{
    margin: 20px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    /* background: #08001b; */
}

/* .textBox1
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.textBox1 .text
{
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.textBox1 .text h2
{
    text-decoration: underline;
}
.textBox1 .img
{
    padding: 20px;
} */

/* .textBox2
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgba(255, 136, 0, 1);
}
.textBox2 .mission
{
    padding: 40px;
    margin-left: 80px;
    text-align: center;
}
.textBox2 .yeartext
{
    padding: 20px;
    margin-right: 80px;
    text-align: center;
} */
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #08001b;
}
.container .card
{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
    overflow: hidden;
}	
.container:hover .card
{
    opacity: .5;
}
.container .card:hover
{
    opacity: 1;
}
.container .card::before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, .1);
    pointer-events: none;
}
.container .card .content
{
    padding: 30px;
    align-items: center;
}
.container .card .content h2
{
    opacity: 1;
    transform: translateY(-70px);
}
.container .card .content h3
{
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: .5;
    letter-spacing: 1px;
    transition: .5s;
}
.container .card .content p
{
    position: relative;
    font-size: 1em;
    color: #fff;
    z-index: 2;
    opacity: .5;
    font-weight: 300;
    transition: .5s;
}
.container .card:hover .content h3,
.container .card .content p
{
    opacity: 1;
}
.container .card span
{
    transition: .5s;
    opacity: 0;
}
.container .card:hover span
{
    opacity: 1;
}
.container .card span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}
.container .card span:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2
{
    0%
    {
        transform: translatey(-100%);
    }
    100%
    {
        transform: translateX(100%);
    }
}

.container .card span:nth-child(3)
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3
{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}

.container .card span:nth-child(4)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4
{
    0%
    {
        transform: translatey(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
/* .in1
{
    background: #08001b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info
{
    
    width: 900px;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(255, 255, 255, .2);
    
    background: url(homepage/hp10.jpg);
    
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.info.texts
{
    display: flex;
    flex-direction: column;
}
.info a
{
    text-decoration: none;
}
@media (max-width:768px)
{
    .info
    {
        font-size: 18px;
    }
}
.logo .logopic
{
    width: 70px;
    height: 70px;
    border-radius: 8px;
    transition: .5s;
} */
.in1
{
    width: 100%;
    height: 600px;
    background: url(Church/IMG_2860.JPG) no-repeat center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}
.in2
{
    width: 100%;
    height: 300px;
    background: #08001b;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}
.in3
{
  width: 100%;
  height: 300px;
  background: #08001b;
  /* padding: 35px; */
}
.in3 ul
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in3 ul li
{
    list-style: none;
}
.in3 ul li a
{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 136, 0);
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
/* .in2 ul
{
    list-style: none;
    color: rgb(255, 136, 0);
    
}
.in2 ul li
{
    display: flex;
    flex-direction: row;
} */
/* .in2
{
    background: #08001b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info2
{
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(255, 255, 255, .2);
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(homepage/hp9.jpg);
    background-size: cover;
    color: #fff;
}
.info2 .logopic
{
    margin-top: 40px;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    transition: .5s;
}
.info2 .text1
{
    padding-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.info2 .text2
{
    padding-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
}
.info2 .text3
{
    padding-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.info2 .text4
{
    padding-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgb(255, 136, 0);
}
.info2 .text4 ul
{
    display: flex;
    flex-direction: row;
}
.info2 .text4 ul li
{
    list-style: none;
    padding: 40px;
} */
/* .imgBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.imgBox h2
{
    font-size: 16px;
    font-weight: 800;
}
.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.img-area img
{
    width: 230px;
    padding: 5px;
    filter: grayscale(70%);
    transition: 1s;
}
.img-area img:hover
{
    filter: grayscale(0%);
    transform: scale(1.1)
}
.single-img
{
    padding: 0  20px 20px;
} */
/* .container 
{
    width: 100%;
    font-family: 'Roboto', sans-serif ;
    max-width: 120rem;
    margin: auto;
    padding: 0  1.5rem;
    display: flex;
    background: #eee;
}
.image-gallery
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas: 'img-1 img-2 img-3 img-3'
                         'img-1 img-2 img-3 img-3';
}
.image-gallery a
{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i
{
    color: rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before
{
    opacity: 1;
}
.img-1
{
    grid-area: img-1;
    background-image: url(homepage/hp1.jpg);
}
.img-2
{
    grid-area: img-1;
    background-image: url(homepage/hp2.jpg);
}
.img-3
{
    grid-area: img-1;
    background-image: url(homepage/hp3.jpg);
}
.img-4
{
    grid-area: img-1;
    background-image: url(homepage/hp4.jpg);
}
.img-5
{
    grid-area: img-1;
    background-image: url(homepage/hp5.jpg);
}
.img-6
{
    grid-area: img-1;
    background-image: url(homepage/hp6.jpg);
}
.img-7
{
    grid-area: img-1;
    background-image: url(homepage/hp7.jpg);
}
.img-8
{
    grid-area: img-1;
    background-image: url(homepage/hp8.jpg);
} */
.events
{
    background: rgba(0, 0, 0, .15);
}
.events h2
{
    text-align: center;
    padding: 20px;
}
.events .schedule
{
    width: 100%;
    height: auto;
    display: flex;
}
.events .schedule .dates
{
    flex-direction: row;
    margin-left: 20px;
}
.events .schedule .dates .date1
{
    margin: 10px;
    background: rgba(255, 136, 0, 1);
    width: 80px;
    height: 80px;
    padding: 20px;
}

.table-box 
{
    background: rgba(0, 0, 0, .15);
}
.table-row
{
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 12px 0;
    color: #555;
    font-size: 18px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
}
.table-cell
{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}
/* .tablehead
{
    background:rgb(255, 136, 0);
    box-shadow: none;
    color: #fff;
    font-weight: 700;
} */
.footer
{
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, .15);
}
.footer .copyright
{
    /* width: 50%; */
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
.footer .copyright .p1
{
    color: rgb(255, 136, 0);;
}
.footer .copyright .p2
{
    color: #000;
}
.footer .copyright .youtube
{
    margin-top: 10px;
}
.footer .copyright .facebook
{
    margin-top: 10px;
}
@media (max-width: 768px)
{
    .footer .copyright .p1,
    .footer .copyright .p2
    {
        margin-left: 15px;
    }
}
@media (max-width: 768px)
{
    .footer .copyright .youtube,
    .footer .copyright .facebook
    {
        margin-left: 15px;
        margin-right: 15px;
    }
}